//variables colores

$color-fondo-body:whitesmoke;
$color-header: #130408; 

body{
    background-color: $color-fondo-body;
}

#main{
    background-color: #2c2c2c;
}

@mixin color($color, $bg-color){
    color: $color;
    background-color: $bg-color;
}