/*PRODUCTOS ok*/

.banner-productos--img{
    background-image: url(../img/banner-productos.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    opacity: 0.85;
}
