/* ENTRADAS */
.entradas-principal{
    margin: 1% 5%;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    opacity: 0.80;
    h2{
        font-size: 25px;
        font-weight: bold;
    }
}

.banner-entradas--img{
    background-image: url(../img/banner-entradas.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.85;
}

.publicacion{
    display: flex;
    flex-direction: row;
    margin: 10px;
    img{
        margin: 10px 0px;
        width: 500px;
        height: auto;
    }
}

.publicaciones__contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1px 15px;
    p{
        font-size: 16px;
        text-align: justify;
        margin: 0;
        padding-right:50px
    }
    button{
        text-decoration:none;
        font-weight: 600;
        font-size: 16px;
        @include color(#ffffff, rgb(112, 109, 102));
        width: 70px;
        height: 30px;
        padding:0;
        border-radius: 8px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        &:hover{
            @include color(black, wheat);
        }
    }
}

.pubilcaciones__contenido--titulo{
    font-size: 30px;
    font-weight: bold;
}

.pubilcaciones__contenido--precio{
    font-size: 16px;
    font-weight: 700;
}

.caja-entradas{
    @extend .caja-sn;
    margin: 0 50px;
}
