
/*SOBRE NOSOTROS*/

.banner-sobre-nosotros--img{
    background-image: url(../img/banner-sobre-nosotros.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    opacity: 0.9;
}

.nosotros{
    img{
    width: 500px;
    margin: 20px;
    padding: 20px;
    }
}

.caja-sn{
    background-color: rgba(0, 0, 0, 0.762);
    border: 0 solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

.staff{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .staff-caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        img{
            height: 400px;
            width: auto;
            border-radius: 50px;
        } 
    }
}

