
/*SOBRE NOSOTROS*/

.banner-sobre-nosotros--img{
    background-image: url(../img/banner-sobre-nosotros.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    opacity: 0.9;
}

.nosotros{
    img{
    width: 500px;
    margin: 20px;
    padding: 20px;
    }
}

.caja-sn{
    opacity: 0.7;
    background-color: black;
    border: 0 solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

