/*HEADER*/
.header{
    background-color:$color-header;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
        width: 150px;
        height: 80px;
}

.header__botones{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a{
           text-decoration: none;
    color: white;
    margin: 5px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px; 
        &:hover{
            background-color: white;
            color: black;
            opacity: 0.8;
        }
    }

    img{
        border-radius: 100px; 
        background-color: #EDCB8Cff;
        padding: 5px;
        width: 30px;
        height: 30px;
    }
}